@model Smpl_prjct_mng_mnt_tol.EF.Comment
@using Smpl_prjct_mng_mnt_tol.EF


@{
    ViewBag.Title = "add Comment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .btn {
        /*margin-left:7px;
        margin-right:7px;*/
        border-left: 10px;
    }

    .topbuttonsDiv {
        margin-bottom: 40px;
        margin-top:20px;
    }

</style>


@if (ViewBag.message != null)
{
    <h1 style="color:crimson">@ViewBag.Message</h1>
}
@if (Session["logger"] != null)
{
    LoginViewModel a = new LoginViewModel();
    a = (LoginViewModel)Session["logger"];

    List<Project> allProjects = new List<Project>();
    allProjects = ViewBag.AllProjects;

    if (a.designationName != null)
    {
        if (a.designationName == "Project Manager")
        {

            <div style="float:right" class="topbuttonsDiv">
                <button>
                    @Html.ActionLink("Project Manager Home", "ProjectManagerHome", "Home", null, new { @class = "btn btn-success" })
                </button>
                <button> @Html.ActionLink("Add Project", "AddProject", "Home", null, new { @class = "btn btn-primary" })</button>

                <button>
                    @Html.ActionLink("Update Project", "UpdateProject", "Home", null, new { @class = "btn btn-danger" })
                </button>
                <button>
                    @Html.ActionLink("Assign Employee", "AssignEmployee", "Home", null, new { @class = "btn btn-info" })
                </button>

                <button>
                    @Html.ActionLink("Add New Task", "AddTask", "Task", null, new { @class = "btn btn-success" })
                </button>

                <button>
                    @Html.ActionLink("Add Comment", "AddComment", "Task", null, new { @class = "btn btn-danger" })
                </button>


            </div>
        }

        else if (a.designationName == "Team Lead")
        {  <div style="float:right" class="topbuttonsDiv">
                <button>
                    @Html.ActionLink("Add New Task", "AddTask", "Task", null, new { @class = "btn btn-success" })
                </button>

                <button>
                    @Html.ActionLink("Add Comment", "AddComment", "Task", null, new { @class = "btn btn-danger" })
                </button>


            </div>
        }

        else if (a.designationName == "Developer")
        {
            <div style="float:right" class="topbuttonsDiv">
                <button>
                    @Html.ActionLink("Add New Task", "AddTask", "Task", null, new { @class = "btn btn-success" })
                </button>

                <button>
                    @Html.ActionLink("Add Comment", "AddComment", "Task", null, new { @class = "btn btn-danger" })
                </button>


            </div>
        }
        else if (a.designationName == "QA Engineer")
        {
            <div style="float:right" class="topbuttonsDiv">
                <button>
                    @Html.ActionLink("Add New Task", "AddTask", "Task", null, new { @class = "btn btn-success" })
                </button>

                <button>
                    @Html.ActionLink("Add Comment", "AddComment", "Task", null, new { @class = "btn btn-danger" })
                </button>


            </div>
        }
        else if (a.designationName == "UX Engineer")
        {
            <div style="float:right" class="topbuttonsDiv">
                <button>
                    @Html.ActionLink("Add New Task", "AddTask", "Task", null, new { @class = "btn btn-success" })
                </button>

                <button>
                    @Html.ActionLink("Add Comment", "AddComment", "Task", null, new { @class = "btn btn-danger" })
                </button>


            </div>
        }

        else
        { <div style="float:right" class="topbuttonsDiv">
                <h1> You are not authorized,please login </h1>
            </div>
        }

        <div class="clearfix"></div>


        using (Html.BeginForm("AddComment", "Task", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "AddUserForm", @class = "clearfix", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                <h1>Add Comment</h1>

                <hr />


                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.Label("Select Project", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">

                        @Html.DropDownListFor(model => model.projectId, ViewBag.selectProjects as IEnumerable<SelectListItem>, htmlAttributes: new { @class = "dropdown", @id = "ddlproject", onchange = "getAssignee(" + a.id + ")" })

                    </div>
                </div>

                <div class="form-group" id="ProjectTasks">
                    @Html.Label("Select Task", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">

                        @Html.DropDownListFor(model => model.taskId, ViewBag.selectTasksbyProject as IEnumerable<SelectListItem>, htmlAttributes: new { @class = "dropdown", @id = "ddlproject", onchange = "getAssignee(" + a.id + ")" })


                    </div>
                </div>


                <div id="ProjectTasksUPDATEDonchange">


                </div>

                <div class="form-group">
                    @Html.Label("Comment", htmlAttributes: new { @class = "control-label col-md-2" })
                    @*@Html.LabelFor(model => model.comment1, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.comment, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.comment, "", new { @class = "text-danger" })
                    </div>
                </div>



                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save Comment" class="btn btn-success" />
                    </div>
                </div>

            </div>
        }

    }

}


else


{
    <h1> You are not authorized,please login </h1>

}


@section scripts {
    <script src="~/Scripts/jquery-3.2.1.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />


    <script type="text/javascript">
        $(function () {
            $("#datepicker1").datepicker();
        });


        var employeeinsessionid;
        $("#ddlproject").change(function (e) {
            //e.preventDefault();
            var projectId = $(this).val();
            console.log("projectId");
            console.log(projectId);
            console.log(employeeinsessionid);


            $.ajax({
                method: "POST",
                //url: '/Task/GetEmployeesAssignedToProject()',
                url: '/Task/getTasksByProject?projectId=' + projectId + '&LoggerId=' + employeeinsessionid,
                success: function (data) {

                    //data = JSON.parse(data)
                    console.log(data);

                    $('#ProjectTasks').remove();

                    var replaceDDL = "";
                    replaceDDL = replaceDDL + '<div class="form-group" id="ProjectTasksUPDATEDonchange">'
                        + '<label class="control-label col-md-2">Select Task</label>'
                        + '<div class="col-md-10">'
                        + '<select class="dropdown" data-val="true" data-val-number="The field taskId must be a number." data-val-required="The taskId field is required." id="ddlproject" name="taskId" >'

                    var option;
                    var length = data.length;

                    if (length >= 1) {
                        jQuery.each(data, function (index, Obj) {
                            option = option + '<option value=' + Obj.id + ">" + Obj.TaskHeading + "</option>"
                        });
                    }
                    else {
                        option = option + '<option value=' + 1 + ">" + "No User For This Project" + "</option>"
                    }
                    option = option + "</select>";

                    replaceDDL = replaceDDL + option;

                    jQuery("#ProjectTasksUPDATEDonchange").html(replaceDDL);

                }

            })
        });


        function getAssignee(a) {

            employeeinsessionid = a;

            console.log(a);
            //console.log(b);
            //console.log("listc")

        }

    </script>
}







