@model Smpl_prjct_mng_mnt_tol.EF.Task

@{
    ViewBag.Title = "DeleteTask";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DeleteTask</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Task</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.projectId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.projectId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.taskHeading)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.taskHeading)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.assigneeid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.assigneeid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.priorityId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.priorityId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.assignedbyId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.assignedbyId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

     
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
