@model Smpl_prjct_mng_mnt_tol.EF.ProjectView
@using Smpl_prjct_mng_mnt_tol.EF

@*performs  add and home functionalities for project mngr.*@

@{
    ViewBag.Title = "Project Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .btn {
        /*margin-left:7px;
        margin-right:7px;*/
        border-left: 10px;
    }

    .topbuttonsDiv {
        margin-bottom: 40px;
    }
</style>

@if (ViewBag.message != null)
{
    <h1 style="color:crimson">@ViewBag.Message</h1>
}
@if (Session["logger"] != null)
{

    LoginViewModel a = new LoginViewModel();
    a = (LoginViewModel)Session["logger"];

    List<ProjectView> yourProjects = new List<ProjectView>();
    yourProjects = ViewBag.YourProjects;

    if (a.designationName == "Project Manager")
    {
        <h1>View All Projects in Which you are involved</h1>

        <br />
        <br />
        <div style="float:right" class="topbuttonsDiv">


                      

            <button>
                @Html.ActionLink("Project Manager Home", "ProjectManagerHome", "Home", null, new { @class = "btn btn-success" })
            </button>
            <button> @Html.ActionLink("Add Project", "AddProject", "Home", null, new { @class = "btn btn-primary" })</button>

            <button>
                @Html.ActionLink("Update Project", "UpdateProject", "Home", null, new { @class = "btn btn-danger" })
            </button>
            <button>
                @Html.ActionLink("Assign Employee", "AssignEmployee", "Home", null, new { @class = "btn btn-info" })
            </button>
            <button>
                @Html.ActionLink("Add New Task", "AddTask", "Task", null, new { @class = "btn btn-success" })
            </button>

            <button>
                @Html.ActionLink("Add Comment", "AddComment", "Task", null, new { @class = "btn btn-danger" })
            </button>







        </div>

        <br />

        <div class="clearfix"></div>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.name)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.shortName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.statusname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.memberCount)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.taskCount)
                </th>

            </tr>

            @if (yourProjects != null)
            {

                foreach (ProjectView aProjectView in yourProjects)

                {
                    <tr>
                        <td>
                            <a href="@Url.Action("ProjectDetail", new { id = aProjectView.id })">
                                <span class="glyphicon-glyphicon-option-vertical "></span>&nbsp;
                                @Html.DisplayFor(modelItem => aProjectView.name)
                            </a>
                           
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => aProjectView.shortName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => aProjectView.statusname)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => aProjectView.memberCount)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => aProjectView.taskCount)
                        </td>
                        <td>

                            <a href="@Url.Action("UploadFiles", new { id = aProjectView.id })">
                                <span class="glyphicon-glyphicon-option-vertical "></span>&nbsp;Add File
                            </a>
                        </td>


                    </tr>
                }


            }
        </table>



    }
}
else


{
    <h1> You are not authorized,please login </h1>

}



