@model Smpl_prjct_mng_mnt_tol.EF.YourProjectView
@using Smpl_prjct_mng_mnt_tol.EF


@{
    ViewBag.Title = "UpdateProject";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .btn {
        /*margin-left:7px;
        margin-right:7px;*/
        border-left: 10px;
    }

    .topbuttonsDiv {
        margin-bottom: 40px;
    }
</style>


@if (ViewBag.message != null)
{
    <h1 style="color:crimson">@ViewBag.Message</h1>
}
@if (Session["logger"] != null)
{
    List<AllFile> allfiles = new List<AllFile>();
    allfiles = ViewBag.AllFiles;
    <h1>Update Porject</h1>

    LoginViewModel a = new LoginViewModel();
    a = (LoginViewModel)Session["logger"];

    List<YourProjectView> allProjectView = new List<YourProjectView>();
    allProjectView = ViewBag.AllProjects;

    if (a.designationName == "Project Manager")
    {

        <div class="topbuttonsDiv">


            <button>
                @Html.ActionLink("Project Manager Home", "ProjectManagerHome", "Home", null, new { @class = "btn btn-success" })
            </button>
            <button> @Html.ActionLink("Add Project", "AddProject", "Home", null, new { @class = "btn btn-primary" })</button>

            <button>
                @Html.ActionLink("Update Project", "UpdateProject", "Home", null, new { @class = "btn btn-danger" })
            </button>
            <button>
                @Html.ActionLink("Assign Employee", "AssignEmployee", "Home", null, new { @class = "btn btn-info" })
            </button>
            <button>
                @Html.ActionLink("Add New Task", "AddTask", "Task", null, new { @class = "btn btn-success" })
            </button>

            <button>
                @Html.ActionLink("Add Comment", "AddComment", "Task", null, new { @class = "btn btn-danger" })
            </button>


        </div>

        <div class="clearfix"></div>



        <table class="table">
            <tr>
                <th>
                    @Html.DisplayName("Project Name")
                </th>

                <th>
                    @Html.DisplayName("Code Name")
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.status)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.startDate)
                </th>



                <th>
                    @Html.DisplayNameFor(model => model.endDate)

                </th>

                <th>
                    @Html.DisplayNameFor(model => model.duration)

                </th>
                <th>
                    @Html.DisplayName("Uploaded Files")

                </th>
                <th>
                    @Html.DisplayName("UPLOAD NEW FILES")

                </th>
                <th>
                    @Html.DisplayName("UPDATE PROJECTS")

                </th>

            </tr>

            @if (allProjectView != null)
            {

                foreach (YourProjectView aProject in allProjectView)

                {
                    <tr>
                        <td>
                            <a href="@Url.Action("ProjectDetail", new { id = aProject.id })">
                                <span class="glyphicon-glyphicon-option-vertical "></span>&nbsp;
                                @Html.DisplayFor(modelItem => aProject.name)
                            </a>
                           
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => aProject.codeName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => aProject.description)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => aProject.status)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => aProject.startDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => aProject.endDate)

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => aProject.duration)
                        </td>

                        <td>

                            @{
                                string test = "";
                                int id = 1;


                                foreach (AllFile ax in allfiles)
                                {
                                    if (ax.projectId == aProject.id)
                                    {


                                        test = test + "<b>" + ax.fname + "</b>," + "<br />";
                                        id++;
                                    }
                                }
                            }
                            @Html.Raw(test)

                        </td>
                        <td>
                            

                            <a href="@Url.Action("UploadFiles", new { id = aProject.id })">
                                <span class="glyphicon glyphicon glyphicon-upload"></span>&nbsp;Add New Files
                            </a>
                        </td>
                        <td>
                            <a href="@Url.Action("ProjectDetailUpdate", new { id = aProject.id })">
                                <span class="glyphicon glyphicon glyphicon-edit"></span>&nbsp;Update Project
                            </a>
                           
                            @*<a href="@Url.Action("Delete", new { id = aProject.id })">
                <span class="glyphicon glyphicon-trash"></span>&nbsp;Delete
            </a>*@

                        </td>
                    </tr>
                                    }


                                }
        </table>

                                    }

                                }
                                else
                                {
                                    <h1> You are not authorized,please login</h1>

                                }
